.usa-hero {
  background-image: url('../public/img/EMIT.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.usa-header--basic .usa-navbar {
  position: relative;
  width: -webkit-fill-available;
  z-index: 100;
}

.usa-hero__callout{
max-width: 50vw;
}

.usa-hero>.grid-container {
max-height: 95vh;
}

